body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/api_with_docker-2.png') no-repeat center top fixed;
    background-size: cover;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Semi-transparente para combinar com o fundo */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    height: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    margin: 0 15px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    position: relative;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente para legibilidade */
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


section#home img {
    max-width: 100px;
    border-radius: 50%;
}



/* Ajusta o layout da lista de projetos */
.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.project img {
    max-width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 20px; /* Espaço entre a imagem e a descrição */
}

.project-content {
    max-width: calc(100% - 170px); /* Ajusta a largura para acomodar a imagem e o espaço entre */
}

.project-content h2 {
    margin-top: 0;
}

.project-content p {
    margin-bottom: 0;
}